name: CI

on:
  push:
    branches: [ main ]
  workflow_run:
    workflows: ["Bump version and create release"]
    types:
      - completed
  workflow_dispatch: # allow manual start

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

#      - name: Bump patch version
#        uses: callowayproject/bump-my-version@master
#        with:
#          args: patch --no-commit --verbose
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: |
          python -m pip install --upgrade pip
          python -m pip install click==8.2 bump-my-version==0.32.2
      - name: Bump patch version
        run: bump-my-version bump patch --no-commit --verbose

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        working-directory: frontend
        run: npm ci

      - name: Env
        working-directory: frontend
        run: echo "VITE_BASE_PATH=/OpenNumismatWeb/dev/" > .env.local

      - name: Build
        working-directory: frontend
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./frontend/dist
          destination_dir: dev
